
.login_header {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
}

.cmd_edit_parter {
    max-width: 32px,
    padding-left: 5px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
.right_footer {
    text-align: right;
    font-weight: bold;
    font-size: 125%;
    color: DarkRed;
}
.right_footer2 {
    text-align: right;
    font-weight: bold;
    font-size: 150%;
    color: DarkRed;
}
.right_footer3 {
    text-align: right;
    font-weight: bold;
    font-size: 120%;
    color: DarkBlue;
}
.footer3 {
    font-weight: bold;
    font-size: 120%;
    color: DarkBlue;
}

.lbl_partner {
    font-weight: bold;
    font-size: 125%;
}

.delete {
    text-align: center;
    font-weight: bold;
    font-size: 250%;
    color: red;
}

.cancel {
    color: red;
}


.cmd_close_partner div button {
    background-color: red !important;
    border-color: red !important;
    border-bottom: 1px solid red !important;
}

/*
.webix_message_area {
    position: absolute;
    margin-top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}
*/

.webix_success div {
    background-color: #00a65a !important;
    font-weight: bold;
    font-size: 1.5vw;
    color: white;
}

.webix_error div {
    background-color: #DF0101 !important;
    font-weight: bold;
    font-size: 1.5vw;
    color: white;
}
