<%inherit file="base.html"/>

<%block name="media">
    <link rel="stylesheet" href="/static/css/sidebar_air.css" type="text/css">
    <script src="/static/js/sidebar.js" type="text/javascript" ></script>

    <script src="/static/js/controller/util.js" type="text/javascript" ></script>
    <script src="/static/js/ui/partners.js" type="text/javascript" ></script>
    <script src="/static/js/ui/products.js" type="text/javascript" ></script>
    <script src="/static/js/ui/bancos.js" type="text/javascript" ></script>
    <script src="/static/js/ui/school.js" type="text/javascript" ></script>
    <script src="/static/js/ui/nomina.js" type="text/javascript" ></script>
    <script src="/static/js/ui/tickets.js" type="text/javascript" ></script>
    <script src="/static/js/ui/invoices.js" type="text/javascript" ></script>
    <script src="/static/js/ui/main.js" type="text/javascript" ></script>

    <script src="/static/js/controller/partners.js" type="text/javascript" ></script>
    <script src="/static/js/controller/products.js" type="text/javascript" ></script>
    <script src="/static/js/controller/bancos.js" type="text/javascript" ></script>
    <script src="/static/js/controller/school.js" type="text/javascript" ></script>
    <script src="/static/js/controller/nomina.js" type="text/javascript" ></script>
    <script src="/static/js/controller/tickets.js" type="text/javascript" ></script>
    <script src="/static/js/controller/invoices.js" type="text/javascript" ></script>
    <script src="/static/js/controller/main.js" type="text/javascript" ></script>

</%block>

<%block name="content">

<input type=hidden id="username" value="${username}"/>

<script type="text/javascript" charset="utf-8">

webix.ready(function(){
    webix.CustomScroll.init()
    webix.ui(ui_main)
    controllers.init()
    var user = document.getElementById("username").value
    $$('menu_user').getMenu(0).updateItem(0, {value:user})
})

</script>

</%block>
